name: Intro Skipper Mod Test

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - '**/README.md'
      - '.github/ISSUE_TEMPLATE/**'

permissions:
  contents: read

jobs:
  build:
    name: Verify Pull Request
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - id: version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: jellyfin
          repo: jellyfin-androidtv
          excludes: prerelease, draft

      - name: Set JELLYFIN_VERSION
        run: |
          JELLYFIN_VERSION=${{ steps.version.outputs.release }}
          echo "JELLYFIN_VERSION=${JELLYFIN_VERSION:1}" >> $GITHUB_ENV

      - uses: burrunan/gradle-cache-action@v1
        name: Build Release Gradle
        with:
          job-id: Release
          # Specifies arguments for Gradle execution
          arguments: |
            --configure-on-demand
            assembleRelease
          # Gradle version to use for execution:
          #   wrapper (default), current, rc, nightly, release-nightly, or
          #   versions like 6.6 (see https://services.gradle.org/versions/all)
          gradle-version: wrapper
          # Properties are passed as -Pname=value
          properties: |
            org.gradle.unsafe.configuration-cache=true
