name: Intro Skipper Mod

on:
  push:
    branches:
      - 'release-*'
    paths-ignore:
      - '**/README.md'
      - '.github/ISSUE_TEMPLATE/**'

permissions: write-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Drop orphan tags
        continue-on-error: true
        uses: fabriziocacicia/delete-tags-without-release-action@v0.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - id: version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: jellyfin
          repo: jellyfin-androidtv
          excludes: prerelease, draft

      - name: Set JELLYFIN_VERSION and GIT_HASH
        run: |
          JELLYFIN_VERSION=${{ steps.version.outputs.release }}
          echo "JELLYFIN_VERSION=${JELLYFIN_VERSION:1}" >> $GITHUB_ENV
          GIT_HASH=$(git rev-parse --short HEAD)
          echo "GIT_HASH=${GIT_HASH}" >> $GITHUB_ENV

      - name: Decode Keystore File
        run: echo "${{ secrets.KEYSTORE }}" | base64 -d > $GITHUB_WORKSPACE/key.keystore

      - uses: burrunan/gradle-cache-action@v1
        name: Build Release Gradle
        with:
          job-id: Release
          # Specifies arguments for Gradle execution
          arguments: |
            --configure-on-demand
            assembleRelease
            -Pandroid.injected.signing.store.file=${{ github.workspace }}/key.keystore
            -Pandroid.injected.signing.store.password=${{ secrets.KEYSTORE_PASSWORD }}
            -Pandroid.injected.signing.key.alias=${{ secrets.KEY_ALIAS }}
            -Pandroid.injected.signing.key.password=${{ secrets.KEY_PASSWORD }}
          # Gradle version to use for execution:
          #   wrapper (default), current, rc, nightly, release-nightly, or
          #   versions like 6.6 (see https://services.gradle.org/versions/all)
          gradle-version: wrapper
          # Properties are passed as -Pname=value
          properties: |
            org.gradle.unsafe.configuration-cache=true

      - name: Purge past releases
        if: ${{ github.ref_name }} == "master"
        uses: dev-drprasad/delete-older-releases@v0.3.4
        with:
          keep_latest: 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        if: ${{ github.ref_name }} == "master"
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.JELLYFIN_VERSION }}-${{ env.GIT_HASH }}
          name: v${{ env.JELLYFIN_VERSION }}
          files: app/build/outputs/apk/release/*.apk

      - name: Discord webhook notification
        shell: bash
        run: |
          contentbody=$( jq -nc --arg msg "jellyfin-androidtv [${{ github.ref_name }}] **${{ github.sha }}**" '{"content": ($msg)}' )
          curl -F "payload_json=${contentbody}" ${{ secrets.DISCORD_WEBHOOK }}

      - name: Upload package to Discord
        uses: sinshutu/upload-to-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: |
            app/build/outputs/apk/release/jellyfin-androidtv-v${{ env.JELLYFIN_VERSION }}-release.apk

      - name: Purge build cache
        continue-on-error: true
        uses: MyAlbum/purge-cache@v2
        with:
          max-age: 259200 # 3 days, default: 7 days since last use
          token: ${{ secrets.GITHUB_TOKEN }}
